* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    /* Box model properties */
    width: 600px;
    height: 600px;
    /* border: 2px solid black; */
    margin: 0 auto;

    /* Position properties*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row1 {
    /* Box model properties */
    width: 600px;
    height: 200px;
    margin: 0 auto;
    border-bottom: 5px solid black;

    /* Position properties */
    position: relative;
}

.row1 .column1 {
    /* Box model properties */
    width: 200px;
    height: 200px;
    border-right: 5px solid black;

    /* Position properties*/
    position: absolute;
    top: 0;
    left: 0;
}

.row1 .column2 {
    /* Box model properties */
    width: 200px;
    height: 200px;

    /* Position properties*/
    position: absolute;
    top: 0;
    left: 200px;
}

.row1 .column3 {
    /* Box model properties */
    width: 200px;
    height: 200px;
    border-left: 5px solid black;

    /* Position properties*/
    position: absolute;
    top: 0;
    left: 400px;
}

.row2 {
    /* Box model properties */
    width: 600px;
    height: 200px;
    margin: 0 auto;

    /* Position properties */
    position: relative;
}

.row2 .column1 {
    /* Box model properties */
    width: 200px;
    height: 200px;
    border-right: 5px solid black;

    /* Position properties*/
    position: absolute;
    top: 0;
    left: 0;
}

.row2 .column2 {
    /* Box model properties */
    width: 200px;
    height: 200px;

    /* Position properties*/
    position: absolute;
    top: 0;
    left: 200px;
}

.row2 .column3 {
    /* Box model properties */
    width: 200px;
    height: 200px;
    border-left: 5px solid black;

    /* Position properties*/
    position: absolute;
    top: 0;
    left: 400px;
}


.row3 {
    /* Box model properties */
    width: 600px;
    height: 200px;
    border-top: 5px solid black;
    margin: 0 auto;

    /* Position properties */
    position: relative;
}

.row3 .column1 {
    /* Box model properties */
    width: 200px;
    height: 200px;
    border-right: 5px solid black;

    /* Position properties*/
    position: absolute;
    top: 0;
    left: 0;
}

.row3 .column2 {
    /* Box model properties */
    width: 200px;
    height: 200px;

    /* Position properties*/
    position: absolute;
    top: 0;
    left: 200px;
}

.row3 .column3 {
    /* Box model properties */
    width: 200px;
    height: 200px;
    border-left: 5px solid black;

    /* Position properties*/
    position: absolute;
    top: 0;
    left: 400px;
}